* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

body {
  font-family: "Baloo 2", cursive;
  background-color: #272727;
  color: white;
}

.animation-wrapper {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: white;
}
.animation-wrapper .animation {
  margin-top: 10vh;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.animation-wrapper .animation .hero {
  width: 100%;
  height: 0;
}
.animation-wrapper .animation .hero img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.animation-wrapper .slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgb(144, 144, 144), black);
  z-index: -1;
}

nav {
  box-shadow: 10px 2px 5px black;
}
nav ul {
  display: flex;
}
nav li {
  margin: 1rem;
  font-size: 1.2rem;
}
nav a {
  transition: all 1s ease;
}
nav a:hover {
  color: yellow;
}

main {
  padding: 0.5rem;
}
main section.main-part {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
main section.main-part h1 {
  padding: 0.5rem;
  font-size: 3rem;
}
main section.main-part .sort-btn button {
  margin: 0.5rem;
  padding: 0.5rem;
}
main section.main-part form {
  display: flex;
  margin: 0.5rem;
}
main section.main-part form input {
  margin: 0 0.25rem;
  padding: 0.5rem;
  font-size: 1.05rem;
  border-radius: 0.25rem;
}
main section.main-part form input.number {
  width: 13%;
}
main section.main-part form select.select {
  margin: 0 0.25rem;
  padding: 0.6rem;
  -webkit-appearance: none;
  border-radius: 50%;
  text-align: center;
  background-color: rgb(170, 170, 170);
}
main section.main-part form button.delete-btn {
  margin: 0 0.25rem;
  border: 0;
  background-color: #272727;
  color: white;
  font-size: 1.3rem;
  cursor: pointer;
}
main section.main-part button.add-form-btn {
  margin: 2rem;
  border: 0;
  background-color: #272727;
  color: white;
  font-size: 2.5rem;
  cursor: pointer;
}
main section.main-part button.add-form-btn i {
  pointer-events: none;
}
main section.main-part .GPA-output {
  width: 200px;
  height: 200px;
  border: 3px solid red;
  border-radius: 50%;
  animation-name: GpaOutputColorChanging;
  animation-duration: 5s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}
main section.main-part .GPA-output p {
  margin-top: 1rem;
  font-size: 1.1rem;
}
main section.main-part .GPA-output h2 {
  font-size: 3.5rem;
}

@keyframes formFadeOut {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}
@keyframes formFadeIn {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
@keyframes GpaOutputColorChanging {
  0% {
    border-color: red;
  }
  25% {
    border-color: lightgreen;
  }
  50% {
    border-color: yellow;
  }
  75% {
    border-color: cyan;
  }
}/*# sourceMappingURL=style.css.map */